<div>
  <h1>Password Generator</h1>

  <div>
    <label for="">Lenght</label>
    <input type="text" (input)="onChangeLenght($event)">
  </div>

  <div>
    <label for="">Use Latter</label>
    <input type="checkbox" (change)="onChangeLatter()">
  </div>

  <div>
    <label for="">Use Numbers</label>
    <input type="checkbox" (change)="onChangeNumbers()">
  </div>

  <div>
    <label for="">Use Symbols</label>
    <input type="checkbox" (change)="onChangeSymbols()">
  </div>

  <button (click)="OnButtonClick()">Generate!</button>

  <div>
    <label for="">Password</label>
    <input type="text" [value]="Password " >
  </div>
</div>

