<div>
  <h1>Password Generator</h1>

  <div>
    <label for="">Lenght</label>
    <input type="number">
  </div>

  <div>
    <label for="">Use Latter</label>
    <input type="checkbox">
  </div>

  <div>
    <label for="">Use Numbers</label>
    <input type="checkbox">
  </div>

  <div>
    <label for="">Use Symbols</label>
    <input type="checkbox">
  </div>

  <button (click)="OnButtonClick()">Generate!</button>

  <div>
    <label for="">Your Password</label>
    <input [value]="getPassword()" type="text" >

  </div> 
</div>